@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

* { 
    margin: 0px;
    padding: 0px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

h1 {
    margin: 0;
}

body { 
background-color: #ededed;
}

html {
    background-color: #eee;
    color: #555;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

.row { 
    max-width: 1140px;
    margin: 0 auto;
}

.row2 { 
 width: 1160px;
    margin : 0 auto;
}

/*
-------------------------
HEADER
-------------------------
*/
nav { 
background-color: #eee;
border-bottom: 3px solid rgba(0, 0, 0, 0.22);
}


.header-img { 
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(images/bg1.jpg);
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
    
}

.header-text { 
    position: absolute;
    top: 50%;
    width : 100%;
    text-align: center;
    color: #FFF;
    -webkit-transform: translate(0, -50%);    transform: translate(0, -50%);
    
}

.header-img p { 
font-weight: 300;
font-style: italic;
    
}

.header-img h1 { 
   color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}

/*
-------------------------
BUTTONS
-------------------------
*/
/*
.btn:link, .btn:visited { 
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}
    
.btn-main:link,
.btn-main:visited{
    background-color: #2c8ac7;
    border: 1px solid #2c8ac7;
    color : #fff;
}

.btn-ghost:link, 
.btn-ghost:visited { 
border: 1px solid #fff;
    color: #fff;   
}

.btn:hover, 
.btn:active { 
   background-clip: #2980b9;
}

.btn-main:hover, 
.btn-main:active{
    background-color: #2980b9;
    border: 1px solid #2980b9;
    color : #fff;
}

.btn-ghost:hover, 
.btn-ghost:active { 
border: 1px solid #2980b9;
    background-color: #2980b9;
    color: #fff;   
}
*/
.btn { 
color: #fff;
border: 1px solid #fff;
}


/*
--------------------
Card Box
--------------------
*/

.info-card { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em 2em;
}

.card1 { 
    background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
-webkit-transition: -webkit-box-shadow .4s;transition: -webkit-box-shadow .4s;transition: box-shadow .4s;transition: box-shadow .4s, -webkit-box-shadow .4s;

}
.card1:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-item h2 { 
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.card1 { 
margin : 0px 10px;
}

.card-item { 
text-align: center;
}

.img1 { 
    width:100%;
    height: auto;
}

.info-card a { 
text-decoration: none;
color: #000;
}

/*
FOOTER
*/

.footer1 { 
    font-size: 1em;
    list-style: none;
    text-align: center;
    background-color: #414141;
}
.footer1 li{
    padding: 10px;
    display: inline-block;
}

.footer1 a { 
text-decoration: none;
color: #fff;
}

.footer1 a:hover { 
color: #2ea4f0;
}


.footer2 { 
    padding: 10px;
    background-color: #eee;
    color: #000;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-address { 
    text-align: right;
}
.footer-email { 
    text-align: left;
}
.footer2 img { 
    width : 150px; 
    height: auto;
}
.copyright {
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    background-color: #414141;
}


/*
Slider
*/

.new { 
background-image: url(images/IMG1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.slider-head {
    display: block;
    background-color: #000;
    color: #fff;
    padding : 10px;
    font-size: 2em;
    font-weight: 600
}

.slider-head span { 
font-weight: 200;
}

.item {
    border: 1px solid rgba(137, 137, 137, 0.52);
    background-color: #fafafa;
}    

.item > * { 
margin: 0px;
background-color: #eee;
}

.item h3 {
    text-align: center;
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 10px;
}

.item p { 
    padding : 5px;
}
    
/*
Shade Card 
*/

.colorRange { 
padding : 20px 10px 10px 10px;
}

.colorRange img { 
max-width: 100%;
    padding: 10px;
}

.colorRange h4 {
    text-align: center;
    padding-top: 10px;
border: none;
}

.colorRange h3 { 
    padding: 10px;
    font-size: 1em;
    text-transform:uppercase;
}

.card-text { 
    text-align: center;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

/*
On Big screen
*/

@media(max-width:800px){
    .info-card {
 display: block;
    }
    
    .card1 { 
    margin : 10px 0px;
    }
    
/*FOOTER*/    
    .footer1 li {display: block;}
    .footer2 {grid-template-columns: 1fr;}
    .footer-address {text-align: center;}
    .footer-email {text-align: center;}
    
    
} 