@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

* { 
    margin: 0px;
    padding: 0px;
box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #fff;
    color: #555;
font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
}

.row { 
    max-width: 1140px;
    margin: 0 auto;
}

/*
-------------------------
BUTTONS
-------------------------
*/

.btn:link, .btn:visited { 
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}
    
.btn-main:link,
.btn-main:visited{
    background-color: #2c8ac7;
    border: 1px solid #2c8ac7;
    color : #fff;
}

.btn-ghost:link, 
.btn-ghost:visited { 
border: 1px solid #fff;
    color: #fff;   
}

.btn:hover, 
.btn:active { 
   background-clip: #2980b9;
}

.btn-main:hover, 
.btn-main:active{
    background-color: #2980b9;
    border: 1px solid #2980b9;
    color : #fff;
}

.btn-ghost:hover, 
.btn-ghost:active { 
border: 1px solid #2980b9;
    background-color: #2980b9;
    color: #fff;   
}

/*
-------------------------
Navigation Bar
-------------------------
*/

nav { 
background-color: #eee;
border-bottom: 3px solid rgba(0, 0, 0, 0.22);
}


/*HEADER*/

.header-img { 
    background-image:url(../css/images/bg1.jpg);
    min-height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
    
}

.header-text { 
    position: absolute;
    top: 30%;
    font-size: 250%;
    width : 100%;
    text-align: center;
    color: #FFF;
    transform: translate(0, -50%);
    
}

header h1 { 
   color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}

/*
-----------------------
page
-----------------------
*/
.content { 
padding: 30px;
    background-color: #f1f1f1;
display : flex;
}

.leftbox {
    width : 20%;
    float: left;
}

.lefttext { 
width: 100%;
    text-align: center;

}

.rightbox {
    width: 78%;
    float : right;
}

.menuitem { 
    display: block;
    padding : 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: #2E2F2F;
    width: 100%;
    text-align: center;
}

.menuitem:link, .menuitem:visited { 
  
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.menuitem:link, 
.menuitem:visited { 
border: 1px solid #fff;
    color: #fff;   
    border: none;
    text-decoration: none;
}

.menuitem:hover, 
.menuitem:active { 
border: 1px solid #EB8921;
    background-color: #EB8921;
    color: #fff;   
    border : none;
    text-decoration: none;
}

/*
-----------------------
Card Container
-----------------------
*/

.card2 {
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
        background-color: #fff;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-content {
font-family: 'Saira Semi Condensed', sans-serif;
    padding: 10px;
    text-align: justify;
}

.card-content h2 {
    
padding-top: 20px;
}

.card-content p {
    
    padding-top: 20px;
}

.card-img { 
margin: 10px;
max-width: 200px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/*
FOOTER
*/

footer {
font-family: 'Saira Semi Condensed', sans-serif;
}

.footer1 { 
list-style: none;
        color: #fff;
    text-align: center;
    padding: 20px;
    
    background-color: #414141;
    border-bottom: 1px solid #fbfbfb;
}
.footer1 li{
    padding: 10px;
    display: inline-block;
}

.footer1 a { 
text-decoration: none;
    font-size: 0.7em;
color: #fff;
}

.footer1 a:hover { 
color: rgba(55, 128, 255, 0.84);
}

.footer2 { 
    padding: 20px;    
    font-size: 0.8em;
    background-color: #e1e1e1;
    color: #000;
    text-align: center;
display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-address { 
    text-align: right;
padding-top: 20px;    
}
.footer-email { 
    text-align: left;
    padding-top: 20px;
}
.footer2 img { 
width : 150px; height: auto;
}

.copyright {
    padding: 20px;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
    background-color: #414141;
}


@media (max-width : 800px) {
    .leftbox {width: 100%;}
    .rightbox {width: 100%;}
    .card2{margin-left: 0px;}
    .footer1 li {display: block;}
    .footer2 {    grid-template-columns: 1fr;}
    .footer-address {text-align: center;}
    .footer-email {text-align: center;}
}