@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700');
* {
    margin: 0px;
    padding: 0px;
box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
background-color: #eee;
border-bottom: 3px solid rgba(0, 0, 0, 0.22);
}


/*HEADER*/

.header-img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../css/images/bg1.jpg);
    min-height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.header-text {
    position: absolute;
    top: 40%;
    width : 100%;
    text-align: center;
    color: #FFF;
    transform: translate(0, -50%);
}

.header-text h1 { 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}


/*
-----------------------
page
-----------------------
*/
.content {
  box-sizing: border-box;
  background:#f1f1f1;
  color:#485e74;
  line-height:1.6;
    padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

.wrapper ul{
  list-style: none;
  padding:0;
}

.brand{
    text-align: center;
    padding: 20px;
    font-weight: 300;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 2em;
    font
}

.company-info{
    background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border: 0.5px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 0.2s ease-out;
}

.gmaps {
padding: 0px;
width: 100%;
height: 100%;
grid-column: 1 / 3;
}

/*
FOOTER
*/
/*
FOOTER
*/

.footer1 { 
    font-size: 1em;
    list-style: none;
    text-align: center;
    background-color: #414141;
}
.footer1 li{
    padding: 10px;
    display: inline-block;
}

.footer1 a { 
text-decoration: none;
color: #fff;
}

.footer1 a:hover { 
color: #2ea4f0;
}


.footer2 { 
    padding: 10px;
    color: #000;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-address { 
    text-align: right;
}
.footer-email { 
    text-align: left;
}
.footer2 img { 
    width : 150px; 
    height: auto;
}
.copyright {
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    background-color: #414141;
}




/* MOBILE SCREENS */
@media(max-width:800px){
  .wrapper{
    display: block;  }

  .wrapper > *{
    padding:1em;
      
  }
    .contact form {
display: block;
    }

    .content {
        width: 100%;
        padding: 0px;
        margin : 0px;

    }
    .gmaps {
    padding: 0px;
    }
     .footer1 li {display: block;}
    .footer2 {    grid-template-columns: 1fr;}
    .footer-address {text-align: center;}
    .footer-email {text-align: center;}

}
