@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
* { 
    margin: 0px;
    padding: 0px;
box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #fff;
    color: #555;
font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
}

.row { 
    max-width: 1140px;
    margin: 0 auto;
}

/*
-------------------------
BUTTONS
-------------------------
*/

.btn:link, .btn:visited { 
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}
    
.btn-main:link,
.btn-main:visited{
    background-color: #2c8ac7;
    border: 1px solid #2c8ac7;
    color : #fff;
}

.btn-ghost:link, 
.btn-ghost:visited { 
border: 1px solid #fff;
    color: #fff;   
}

.btn:hover, 
.btn:active { 
   background-clip: #2980b9;
}

.btn-main:hover, 
.btn-main:active{
    background-color: #2980b9;
    border: 1px solid #2980b9;
    color : #fff;
}

.btn-ghost:hover, 
.btn-ghost:active { 
border: 1px solid #2980b9;
    background-color: #2980b9;
    color: #fff;   
}

/*
-------------------------
Navigation Bar
-------------------------
*/


.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}
.main-nav li { 
display: inline-block;
    margin-left: 30px;
    font-size: 70%;
}
.main-nav li a:link,
.main-nav li a:visited { 
    color : #fff; 
    text-decoration: none ;
    text-transform: uppercase;   
    border-bottom: 2px solid transparent;
    padding : 8px 0px;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active { 
    border-bottom: 2px solid #2980b9;
}

.logo {
    text-decoration: none;
    text-transform: uppercase ;
    margin-top: 20px;
    color: #fff;
    float: left;
}

/*HEADER*/

.header-img { 
    background-image:url(../css/images/bg1.jpg);
    min-height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
    
}

.header-text { 
    position: absolute;
    top: 30%;
    font-size: 250%;
    width : 100%;
    text-align: center;
    color: #FFF;
    transform: translate(0, -50%);
    
}

header h1 { 
   color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}

/*
-----------------------
page
-----------------------
*/
.content {
    font-size: 100%;
  box-sizing: border-box;
  background:#f1f1f1;
  color:#485e74;
  line-height:1.6;
/*  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  */
    padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

.wrapper ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 0.2s ease-out;
}

.gmaps { 
padding: 0px;
width: 100%;
height: 100%;
grid-column: 1 / 3;
}

/*
FOOTER
*/

.footer1 { 
list-style: none;
        color: #fff;
    text-align: center;
    padding: 20px;
    
    background-color: #414141;
    border-bottom: 1px solid #fbfbfb;
}
.footer1 li{
    padding: 10px;
    display: block;
}

.footer1 a { 
text-decoration: none;
    font-size: 0.7em;
color: #fff;
}

.footer1 a:hover { 
color: rgba(55, 128, 255, 0.84);
}

.footer2 { 
    padding: 20px;    
    font-size: 0.7em;
    background-color: #e1e1e1;
    color: #000;
    text-align: center;
display: grid; 
    grid-template-columns: 1fr;
}
.footer2 img { 
width : 150px; height: auto;
}

.copyright {
    padding: 20px;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
    background-color: #414141;
}


/* LARGE SCREENS */
@media(min-width:800px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
    
    .footer1 li{
    display: inline-block;
    }
    
    .footer2 { 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-address { 
    text-align: right;
padding-top: 20px;    
    }
    .footer-email { 
    text-align: left;
    padding-top: 20px;
    }
    .gmaps { 
    padding: 0px;
        margin: 0px;
    }
}